@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="p-5 mb-5 mt-5">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>

