<input id="toggle-event" type="checkbox" data-toggle="toggle">
<div id="console-event"></div>
@section scripts {
    <script>
        $(function () {
            $('#toggle-event').change(function () {
                $('#console-event').html('Toggle: ' + $(this).prop('checked'));
            })
        })
    </script>
} 
