<input id="toggle-event" type="checkbox" data-toggle="toggle">
<div id="console-event"></div>
@section scripts {
    <script>
        $(function () {
            $('#toggle-event').change(function () {
                $('#console-event').html('Toggle: ' + $(this).prop('checked'));
            })
        })
    </script>
} 

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
