@{
    ViewBag.Title = "Confirm Email";
}


<div class="p-5 mb-5 mt-5">
    <h2>@ViewBag.Title.</h2>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
