@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title p-5 mt-5">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="pl-5 mb-5">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
